.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 24px;
    background-color: var(--background-1);
    
}