@import "tailwindcss";
/* lime,slate ,cyan*/
:root {
  --background: oklch(98.6% 0.031 120.757);
  --background-1:oklch(96.7% 0.067 122.328);
  --background-2:oklch(93.8% 0.127 124.321);
  --background-3:oklch(89.7% 0.196 126.665);
  --background-4:oklch(84.1% 0.238 128.85);
  --foreground: oklch(12.9% 0.042 264.695);
  --foreground-1:oklch(20.8% 0.042 265.755);
  --foreground-2:oklch(27.9% 0.041 260.031);
  --foreground-3:oklch(37.2% 0.044 257.287);
  --foreground-4:oklch(44.6% 0.043 257.281);
  --error:oklch(64.5% 0.246 16.439);
  --error-1:oklch(58.6% 0.253 17.585);
  --error-2:oklch(51.4% 0.222 16.935);
  --tagcolor:oklch(78.9% 0.154 211.53);
  --tagcolor-1:oklch(71.5% 0.143 215.221);
  --tagcolor-2:oklch(60.9% 0.126 221.723);
  --tagcolor-3:oklch(52% 0.105 223.128);
  --tagcolor-4:oklch(45% 0.085 224.283);
}
.dark{
  --background: oklch(12.9% 0.042 264.695);
  --background-1: oklch(20.8% 0.042 265.755);
  --background-2: oklch(27.9% 0.041 260.031);
  --background-3:oklch(37.2% 0.044 257.287);
  --background-4:oklch(44.6% 0.043 257.281);
  --foreground: oklch(98.6% 0.031 120.757);
  --foreground-1:oklch(96.7% 0.067 122.328);
  --foreground-2:oklch(93.8% 0.127 124.321);
  --foreground-3:oklch(89.7% 0.196 126.665);
  --foreground-4:oklch(84.1% 0.238 128.85);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  
}
body main{
  margin-top: 80px;
}
div{
  width: 100%;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 16px;
  padding: 24px 0;
}
p{
  padding: 8px 0 ;
  word-break: break-word !important;
}

@media (min-width:768px) {
  h1{
    font-size: 32px;
  }    
  h2{
    font-size: 24px;
  }
}

