.main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-1);
    margin-bottom: 24px;
    .editerArea{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding:16px 8px;
        gap: 16px;
        @media(min-width:768px){
            flex-direction: row;
            padding: 16px;
        }
        .editer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:16px;
            gap: 8px;
            background-color: var(--background-2);
            @media(min-width:768px){
                min-width: 300px;
                flex:  0 0 calc(50% - 8px);
            }
            .headerSet{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                h2{
                    font-size: 24px;
                }
                div{
                    width: auto;
                }
            }
            .otherSetDiv{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 16px;
                min-height: 100px;
                div{
                    width: auto;
                    text-align: center;
                }
                @media(min-width:768px){
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                select{
                    background-color: var(--background-3);
                    padding:8px;
                    border-radius: 8px;
                    &:disabled{
                        appearance: none;
                        background-color: var(--background-1);
                    }
                }
                .changeMode{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 150px;
                    .silderMove{
                        position: relative;
                        display: flex;
                        background-color: var(--foreground-2);
                        width: 30px;
                        height: 16px;
                        transition: all 0.5s;
                        border-radius: 8px;
                        &::before{
                            content: " ";
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            top: 50%;
                            left: 0;
                            transition: all 0.5s;
                            transform: translate(-50%,-50%);
                            background-color: var(--tagcolor-3);
                            border-radius: 50%;
                        }
                        &.silderMoveCode{
                            background-color: var(--tagcolor-2);
                            &::before{
                                content: " ";
                                transform: translate(calc(30px - 50%),-50%);
                            }
                        
                        }
                    }
                }
            }
            input{
                border: var(--foreground) 2px solid;
                border-radius: 8px;
                padding:4px 16px;
                &:disabled{
                    border: none;
                }
            }
            .textareaBox{
                border: white 2px solid;
                width: 100%;
                height: 90vh;
                overflow-x: hidden;
                padding:8px;
            }
            .categoryListDiv{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                width: 100%;
                gap: 1rem;
                span{
                    background-color: var(--background-1);
                    border-radius: 8px;
                    padding: 4px 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--background-2);
                    }
                }
            }
            .categoryDiv{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
        }
        .show{
            width: 100%;
            min-width: 300px;
            min-height: 100vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            background-color: var(--background-2);
            padding:16px;
            gap:16px;
            @media(min-width:768px){
                flex: 0 0 calc(50% - 8px);
                padding:16px;
            }
            h2{
                font-size: 24px;
            }
            .showDiv{
                width: 100%;
                .titleDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 16px;
                    min-height: 100px;
                    @media(min-width:768px){
                        padding:8px;
                    }
                    h1{
                        font-size: 24px;
                    }
                    .blogTimeDiv{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                    }
                }
                .showTextDiv{
                    overflow-y: scroll;
                    height: 90vh;
                    border: 2px solid var(--foreground) ;
                    padding:8px;
                }
                .categoryStringDiv{
                    padding:16px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    flex-wrap: wrap;
                    gap: 16px;
                    span{
                        background-color: var(--background-1);
                        border-radius: 8px;
                        padding: 4px 8px;
                        &:hover{
                            background-color: var(--background-2);
                    }
                }
                }
            }
        }
    }

    .buttonDiv{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding:16px 0;
    }


    button{
        width: 250px;
        border: var(--foreground) 2px solid;
        border-radius: 8px;
        padding:8px;
        background-color: var(--tagcolor-2);
        @media(min-width:768px){
            width: 300px;
        }
        &:hover{
            cursor: pointer;
            background-color: var(--tagcolor-3);
        }
    }
}