.main{
    width: 100%;
    min-height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .firstSee{
        min-height: 500px;
        height: 100vh;
        width: 100%;
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(252, 252, 252, 0.1), rgba(255, 255, 255, 0.1)),url("/index/firstBG.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        @media(prefers-color-scheme: dark){
            background-image:url("/index/firstBG.jpg")
        }
        .FirstIndexH1{
            transform: translateX(-100vw);
            transition: all 1s;
        }
        .FirstIndexActive{
            transform: translateX(0);
        }
    }
    

}