
.ProjectDiv{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        min-height: 500px;
        gap: 16px;
        background-color: var(--background-1);
        overflow: hidden;
        user-select: none;
        -webkit-user-drag: none; /* Safari */
        -moz-user-drag: none;    /* Firefox */
        -ms-user-drag: none;     /* IE */
        &::before{
            content: "";
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(
                to right,
                var(--background-1) 0%,
                transparent 25%,
                transparent 75%,
                var(--background-1)100%
            );
        }
        .projectCardDiv{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            min-height: 400px;
            width: calc(var(--cardWidth)*7 + 36*6 + 24*2);
            gap: 36px;
            padding: 24px;
            overflow: hidden;
            transform: translateX(0px);
            --cardWidth:300px;
            @media(min-width:768px){
                --cardWidth:500px;
            }
            @media(min-width:1024px){
                --cardWidth:600px;
            }
            @media(min-width:1440px){
                --cardWidth:700px;
            }
            &.moving{
                transition: transform 0.1s linear;
            }
            &.classMoving{
                transition: transform 0.5s ease;
            }
            @for $i from 1 through 7 {
                &.move-#{$i}{
                    transform:translateX(calc( (var(--cardWidth) + 36px)*#{$i}*-1 + (var(--cardWidth) + 36px)*4  ) );
                }
            }
            .projectCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                min-height: 400px;
                width: var(--cardWidth);
                background-color: var(--background-2);
                &:hover{
                    cursor: pointer;
                    background-color: var(--background-3);
                    box-shadow: 4px 4px 8px var(--background-2);
                }
                h3{
                    flex:2;
                    font-size:20px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .categoryDiv{
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    padding:8px;
                    span{
                        background-color: var(--tagcolor-1);
                        padding:8px 16px;
                        border-radius: 8px;
                        &:hover{
                            cursor: pointer;
                            background-color: var(--tagcolor-2);
                        }
                    }
                }
                p{
                    flex: 1;
                }
            }
        }
    }