.main{
    width: 100%;
    min-height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .aboutDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: var(--background-1);
        min-height: 500px;
        .aboutMeDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 100px;
            padding:16px 0;
            background-color: black;
            border-radius: 8px;
            p{
                color: white;
                padding: 16px;
            }
            @media(min-width: 768px){
                width: 768px;
            }
            .headImg{
                object-position: center;
                object-fit: cover;
                border-radius: 50%;
                height: 200px;
                width: 200px;
            }

        }
        .aboutMeTextDiv{
            padding: 16px 8px ;
            width: 100%;
            flex-direction: column;
            display: flex;
            align-items: start;
            justify-content: center;
            @media (min-width:768px) {
                min-width: 768px;
                width: 80%;
            }
            p{
                span{
                    color: var(--tagcolor);
                    &:hover{
                        cursor: pointer;
                        color:var(--tagcolor-1)
                    }
                }
            }
        }
    }
}