.loginDiv{
    position: fixed;
    left: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: var(--background-1);
    height: 500px;
    transform: translateY(-50%);
    border-radius: 8px;
    border: 2px solid var(--foreground-1);
    z-index: 99;
    @media(min-width:425px){
        left: 50%;
        width: 400px;
        transform: translate(-50%,-50%);
    }
    @media(min-width: 768px){
        left: 50%;
        width: 500px;
        transform: translate(-50%,-50%);
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding:8px;
        width: 100%;
        height: 100%;
        @media(min-width:768px){
            padding: 16px;
        }
        h2{
            font-size: 2rem;
        }
        .passwordDiv{
            width: 100%;
            .forgetPasswordSpan{
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        button{
            background-color: var(--tagcolor-2);
            padding: 8px 8px;
            border-radius: 8px;
            width: 20%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s;
            &:hover{
                background-color: var(--tagcolor-3);
            }
            @media (min-width:768px){
                width: 15%;
                height: 30px;
            }
        }
        .inputDiv{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            width: 100%;
            height: 50px;

            input{
                width: 80%;
                height: 30px;
                border: 2px solid var(--foreground-1);
                border-radius: 8px;
                padding:6px 1rem;
                &:focus + label,
                &:not(:placeholder-shown) + label {
                    top: 0;
                    transform: translateX(-1rem) translateY(-50%);
                }
            }
            input+label{
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s;
            }
            
            .eyeButton{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: calc(20% + 0.5rem);
                width: 25px;
                height: 25px;
                padding: 0;
            }
            
        }
        
        .errorMessageDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            width: 100%;
            color: red;

        }

        .forgetPasswordDiv{
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            width: 100%;
            height: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: var(--background-1);
            border-radius: 8px;
            border: 2px solid var(--foreground-1);
            padding:4px;
            transition: all 0.3s;
            @media(min-width:768px){
                padding:16px;
            }
            &.forgetPasswordDivHidden{
                display: none;
            }
            .closeForgetPasswordDiv{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .closeForgetPasswordButton{
                    width: 30px;
                    height: 30px;
                    border-radius: 0 6px 0 0;
                }
            }
            input{
                width: 80%;
                height: 30px;
                border: 2px solid var(--foreground-1);
                border-radius: 8px;
                padding:6px 1rem;
            }
            .buttonDisable{
                width:  200px;
                background-color: var(--tagcolor-1);
            }
        }



        .buttonDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
        }
    }
    
}