.messageListDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-1);
    border-radius: 8px;
    gap: 8px;
    margin-top: 24px;
    .messageListTatal{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding:16px;
        background-color: var(--background-2);
    }
    .messageListCard{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding:0 0 16px 0;
        background-color: var(--background-1);
        @media(min-width:768px){
            padding:0 16px 16px 16px;
        }
        .messageListCardHeader{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding:16px 8px;
            background-color: var(--background-1);
            width: 100%;
            @media(min-width:425px){
                flex-direction: row;
            }
            .messageListCardUser{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                @media(min-width: 768px){
                    flex-direction: row;
                }
            }
            .messageListCardTimespan{
                font-size: 14px;
                color:var(--foreground-2);
                margin-left:16px;
            }
            .messageListCardEditDiv{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                width: auto;
                .messageListCardEditButton{
                    padding:8px;
                    background-color: var(--tagcolor-2);
                    border-radius: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--tagcolor-3);
                    }
                }
                .messageListCardDeleteButton{
                    padding:8px;
                    background-color: var(--error-2);
                    border-radius: 8px;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--error);
                    }
                }
            }
            
        }
        .messageListCardContent{
            display: flex;
            align-content: center;
            justify-content: start;
            padding:16px 8px;
            width: 100%;
            background-color: var(--background-2);
            border-radius: 8px;
            p{
                padding: 0;
                white-space: pre-wrap;
            }
        }
    }
}

.messageBox{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 24px;
    min-height: 300px;
    background-color: var(--background-2);
    border-radius: 8px;
    .messageHead{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
        width: 100%;
        min-height: 60px;
        background-color: var(--background-2);
        padding:16px 8px;
        border-radius: 8px 8px 0 0;

        p{
            padding: 0;
        }
        .messageWelcome{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            @media(min-width: 768px){
                flex-direction: row;
            }
        }
    }
    .messageTextarea{
        box-sizing: border-box;
        width: 95%;
        min-height: 180px;
        padding: 8px 16px;
        border: 2px solid var(--foreground);
        margin:16px;
    }
    .messageFooter{
        display: flex;
        align-items: center;
        justify-content: end;
        padding:16px 8px;
        width: 100%;
        height: 60px;
        background-color:var(--background-2);
        border-radius: 0 0 8px 8px;
        button{
            background-color: var(--tagcolor-2);
            padding:8px 16px;
            border-radius: 8px;
            &:hover{
                cursor: pointer;
                background-color: var(--tagcolor-3);
            }
        }
    }



    .nonLoginDiv{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(255, 255, 255,0.1);
        &:hover{
            cursor: not-allowed;
        }
        &.loginHidden{
            display: none;
        }
        p{
            font-size: 40px;
        }
    }

}

.editDivBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    &.editDivBackgroundHidden{
        display: none;
    }
    .editDiv{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 50%;
        min-height: 200px;
        background-color:var(--background-2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding:16px;
        .editTitle{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .editInputText{
            width: 95%;
            background-color:var(--background-2);
            padding:16px;
            height: 50%;
            min-height: 100px;
            border: 2px solid var(--foreground);
            border-radius: 8px;
        }
        .editButtonDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 16px;
            button{
                padding:8px 16px;
                background-color: var(--tagcolor-2);
                border-radius: 8px;
                &:hover{
                    cursor: pointer;
                    background-color: var(--tagcolor-3);
                }
            }
        }
    }
}



.deleteCheckDivBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    &.deleteCheckDivBackgroundHidden{
        display: none;
    }
    .deleteCheckDiv{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 200px;
        border: 2px solid var(--foreground);
        border-radius: 8px;
        background-color: var(--background-2);
        .deleteCheckDivText{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .deleteCheckButtonDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 16px;
            
            border-radius: 8px;
            .deleteCheckDivConfirmButton{
                padding:8px 16px;
                background-color: var(--tagcolor-2);
                border-radius: 8px;
                &:hover{
                    cursor: pointer;
                    background-color: var(--tagcolor-3);
                }
            }
            .deleteCheckDivDeleteButton{
                padding:8px 16px;
                background-color: var(--error-2);
                border-radius: 8px;
                &:hover{
                    cursor: pointer;
                    background-color: var(--error);
                }
            }
        }
    }
}



