.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding:32px 16px ;
    .searchDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 16px;
        @media(min-width:768px){
            flex-direction: row;
        }
        div{
            width: auto;
        }
        .searchBox{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            label{
                position: absolute;
                
            }
            input{
                border: var(--foreground) 2px solid;
                border-radius: 8px;
                padding:8px 4px 8px 16px;
            }
        }
        .sortDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
        button{
            background-color: var(--tagcolor);
            border-radius: 8px;
            padding:8px 8px;
            &:hover{
                background-color: var(--tagcolor-1);
                cursor: pointer;
            }
        }
    }

    .article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .cardDiv{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--background-2);
            padding:16px;
            gap: 16px;
            .card{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                background-color: var(--background-1);
                padding:8px 16px;
                border-radius: 8px;
                // transition: backgound 0.2s;
                &:hover{
                    background-color: var(--background);
                    cursor: pointer;
                }
                @media( min-width: 768px){
                    flex-direction: row;
                    justify-content: space-between;
                }
                div{
                    width: auto;
                }
                h2{
                    font-size: 32px;
                    padding: 16px 0;
                    text-align: center;
                    @media(min-width: 768px){
                        text-align: left;
                        padding:16px 8px
                    }
                }
                .categoryDiv{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    @media(min-width:768px){
                        justify-content: start;
                    }
                    span{
                        background-color: var(--background-2);
                        border-radius: 8px;
                        padding: 4px 8px;
                        &:first-of-type{
                            background-color: var(--background-1);
                        }
                    }
                }
                .timeDiv{
                    text-align: center;
                    @media(min-width:768px){
                        text-align: right;
                    }
                }
            }
        }
    }
}