.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding:32px 16px;
    background-color: var(--background-1);
    margin-bottom: 24px;
    .article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 8px;
        @media(min-width:768px){
            min-width: 768px;
            width:calc((10/12)*100%);
        }
        .header{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            background-color: var(--background-2);
            border-radius: 8px;
            padding:16px;
            gap: 16px;
            .projectTitle{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .timeDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap:8px;
                }
                @media(min-width: 768px){
                    flex-direction: row;
                    .timeDiv{
                        width: auto;
                    }
                }
            }
            
            .categoryList{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                gap: 16px;
                
                span{
                    background-color: var(--background-3);
                    border-radius:  8px;
                    padding: 4px 8px;
                    white-space: normal;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--background-4);
                    }
                    &:nth-child(1){
                        background-color: transparent ;
                        cursor:auto;
                    }
                }
            }
        }
        .section{
            width: 100%;
            display: flex;
            min-height: 200px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            background-color: var(--background-2);
            padding:16px;
            h2{
                font-size: 24px;
            }
            a{
                color:var(--tagcolor-2);
                &:hover{
                    color: var(--tagcolor-3);
                }
            }
            pre{
                display: block;
                width: 100%;
                padding:16px;
                background-color: var(--background-1);
                border-radius: 8px;
                code{
                    display: block;
                    width: 100%;
                    white-space: pre-wrap;
                    word-break: break-word;
                }
            }

        }
    }
}